<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>
@if (!isLoading) { @if(showPaginator) {
<app-paginator
  [currentPage]="currentPage"
  [numberOfPages]="numberOfPages"
  [pageNumbers]="pageNumbers"
  (pageChange)="goToPage($event)"></app-paginator>
} @for (post of posts; track post; let i = $index) {
<div class="repeating-post">
  <div class="post-summary">
    @if(isBlog()){
      <a [routerLink]="['/blog', post.canonical_url]">
        <h1 class="repeating-post-title">{{ post.post_title }}</h1>
      </a>
      <p>{{ post.post_description }}</p>
    } @else{
      <app-post-content
        [post]="post"
        [postType]="getPostType(post.post_type)"
        [contentPosition]="contentPosition"></app-post-content>
    }
  </div>
  <div class="repeating-post-datebar">
    <app-date-display
      [routerLink]="['/' + getPageForLink(), getPostIdentifier(post)]"
      [dateToDisplay]="post.posted_at"
      labelText=""></app-date-display>
  </div>
</div>
} @if (showPageLink) {
<div class="section-footer">
  <a [routerLink]="['/' + getPageForLink()]">See more {{ getSeeMoreName() }}</a>
</div>
} @else if (showPaginator) {
<app-paginator
  [currentPage]="currentPage"
  [numberOfPages]="numberOfPages"
  [pageNumbers]="pageNumbers"
  (pageChange)="goToPage($event)"></app-paginator>
} }
