<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>
@if (!isLoading) { @if(showPaginator) {
<app-paginator
  [currentPage]="currentPage"
  [numberOfPages]="numberOfPages"
  [pageNumbers]="pageNumbers"
  (pageChange)="goToPage($event)"></app-paginator>
} @for (post of posts; track post; let i = $index) {
<div class="unified-post-card">
  <div class="unified-post-summary-content">
    @if(isBlog(post.post_type)){
    <a [routerLink]="['/blog', post.canonical_url]">
      <h1 class="repeating-post-title">{{ post.post_title }}</h1>
    </a>
    <p>{{ post.post_description }}</p>
    } @else{
    <app-post-content
      [post]="post"
      [postType]="getPostType(post.post_type)"
      [contentPosition]="contentPosition"></app-post-content>
    }
  </div>
  <div class="repeating-post-datebar">
    @if(showPostType) {
    <div class="post-type-tag">
      <a [routerLink]="['/' + getPageForLink(post.post_type)]">
        <span class="post-type-icon">
          <i class="{{ getPostTypeIcon(post.post_type) }}"></i>
        </span>
        <span class="post-type-label">{{ getPostType(post.post_type) }}</span>
      </a>
    </div>
    }
    <app-date-display
      [routerLink]="['/' + getPageForLink(post.post_type), getPostIdentifier(post)]"
      [dateToDisplay]="post.posted_at"
      labelText=""></app-date-display>
  </div>
</div>
} @if (showPageLink) {
<div class="section-footer">
  <a [routerLink]="['/' + getPageForLink(postType)]">See more {{ getSeeMoreName() }}</a>
</div>
} @else if(showAllPageLinks){
<div class="section-footer">
  See more:
  <a [routerLink]="['/posts']">Posts</a>
  |
  <a [routerLink]="['/blog']">Blog</a>
  |
  <a [routerLink]="['/links']">Links</a>
</div>

} @else if (showPaginator) {
<app-paginator
  [currentPage]="currentPage"
  [numberOfPages]="numberOfPages"
  [pageNumbers]="pageNumbers"
  (pageChange)="goToPage($event)"></app-paginator>
} }
