<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">
      <i class="fa-solid fa-image"></i>
      Gallery
    </app-page-title>
  </div>
</div>
<app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
<ng-container *ngIf="!isLoading">
  <div class="grid">
    <div class="grid-square" *ngFor="let post of pixelfedPosts; let i = index">
      <img
        (click)="toggleModal(i, true)"
        class="gallery-thumbnail"
        [src]="post.media_attachments[0].url"
        alt="" />
      <app-modal [isVisible]="modalVisibilities[i]" (onClose)="toggleModal(i, false)">
        <div class="image-container">
          <img
            class="gallery-image"
            [src]="post.media_attachments[0].url"
            alt="{{ post.media_attachments[0].description }}" />
        </div>
        <div class="image-description" [innerHTML]="post.content">{{ post.content }}</div>
        <div class="image-footer">
          <app-date-display [dateToDisplay]="post.created_at"></app-date-display>
          <a target="_blank" [href]="post.url">
            View on PixelFed
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </app-modal>
    </div>
    <div class="gallery-footer">
      <a target="_blank" [href]="pixelfedUrl">
        See More on PixelFed
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </div>
  </div>
</ng-container>
