<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">
      <i class="fa-solid fa-image"></i>
      {{ pageTitle }}
    </app-page-title>
  </div>
</div>
<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>
@if (!isLoading) {
<div class="grid">
  @for (post of galleryPosts; track post; let i = $index) {
  <div class="grid-square">
    <img
      #imageElement
      (click)="toggleModal(i, true)"
      class="gallery-thumbnail"
      [src]="post.images[0].url"
      [alt]="post.images[0].description" />
    @if (post.images.length > 1 && imageLoaded[i]) {
    <span class="image-count">{{ post.images.length }}</span>
    }
    <app-modal
      [post]="post"
      [postUrl]="post.url"
      [isVisible]="modalVisibilities[i]"
      (onClose)="toggleModal(i, false)"></app-modal>
  </div>
  }
</div>
@if(allGalleryPosts.length > itemCount && showPageLink){
<div class="gallery-show-more">
  <button class="button gallery-show-more-button" (click)="showMoreImages()">
    Show More Posts
  </button>
</div>
}
<div class="gallery-footer">
  @if(showPageLink) {
  <a [routerLink]="['/gallery']">See more in the Gallery</a>
  }
</div>
}
