//courtesy of https://css-tricks.com/a-grid-of-logos-in-squares/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 1rem;
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
}

.grid > div {
  background: black;
  padding: 1rem;
  display: grid;
}

.grid > div::before,
.grid > div > img {
  grid-area: 1 / 1 / 2 / 2;
  content: "";
  display: block;
}

.grid > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.grid-square {
  background-color: white;
}

.gallery-thumbnail {
  cursor: pointer;
}

.gallery-image {
  width: 80%;
  border-radius: 2px;
}

.image-description {
  color: #ffffff;
  font-size: 16px;
}

.image-footer {
  padding-top: 20px;
  font-size: 14px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .gallery-image {
    width: 100%;
    border-radius: 2px;
  }
}
