.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 750px;
  margin: 0 auto;
}

.grid-square {
  flex: 1 0 200px; // This will create grid items that are at least 160px wide
  margin: 0.5rem; // This will create a gap of 1rem between the grid items
  display: flex; // This will make the div a flex container
  align-items: center; // This will center the image vertically within the div
  justify-content: center; // This will center the image horizontally within the div

  background-color: #000000;

  position: relative;
}

.gallery-thumbnail {
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.gallery-thumbnail:hover {
  transform: scale(1.1);
}

.gallery-image {
  width: 80%;
  border-radius: 2px;
}

.image-description {
  color: #ffffff;
  font-size: 16px;
}

.image-footer {
  padding-top: 20px;
  font-size: 14px;
}
