<section class="navbar">
  <div class="navbar-card">
    <button
      type="button"
      class="button transparent collapse-button"
      [ngClass]="{ 'collapse-button-clicked': showNavbarOnMobile }"
      (click)="toggleNavbar()">
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="navbar-container" [ngClass]="{ 'navbar-mobile-show': showNavbarOnMobile }">
      <app-navbar-button urlPath="/" colour="blue">
        <i class="fa-solid fa-house"></i>
        home
      </app-navbar-button>
      <app-navbar-button urlPath="/now" colour="green">
        <i class="fa-solid fa-calendar-days"></i>
        now
      </app-navbar-button>
      <app-navbar-button urlPath="/interests" colour="purple">
        <i class="fa-solid fa-puzzle-piece"></i>
        interests
      </app-navbar-button>
      <app-navbar-button urlPath="/bots" colour="brown">
        <i class="fa-solid fa-robot"></i>
        bots
      </app-navbar-button>
      <app-navbar-button urlPath="/posts" colour="orange">
        <i class="fa-solid fa-comment"></i>
        posts
      </app-navbar-button>
      <app-navbar-button urlPath="/blog" colour="pink">
        <i class="fa-solid fa-newspaper"></i>
        blog
      </app-navbar-button>
      <app-navbar-button urlPath="/links" colour="caribbean-green">
        <i class="fa-solid fa-link"></i>
        links
      </app-navbar-button>
      <app-navbar-button urlPath="/gallery" colour="light-blue">
        <i class="fa-solid fa-image"></i>
        gallery
      </app-navbar-button>
    </div>
  </div>
</section>
