@use "../../../variables.scss" as variables;

.navbar {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
}

.navbar-card {
  max-width: 900px;
}

.collapse-button {
  display: none;
  transition: all 0.2s ease-in-out;
  box-shadow: none;
}

.collapse-button-clicked {
  color: variables.$accent-color;
  transform: rotate(90deg);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .navbar {
    margin-bottom: 15px;
  }
  .navbar-container {
    display: none;
  }
  .navbar-mobile-show {
    display: block;
  }
  .collapse-button {
    display: inline-block;
    font-size: 24px;
  }
}
