.navbar {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
}

.navbar-card {
  max-width: 900px;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .navbar {
    margin-bottom: 15px;
  }
}
