<section class="navbar">
  <div class="navbar-card">
    <div class="navbar-container">
      <app-navbar-button urlPath="/">
        <i class="fa-solid fa-house"></i>
        home
      </app-navbar-button>
      <app-navbar-button urlPath="/now">
        <i class="fa-solid fa-calendar"></i>
        now
      </app-navbar-button>
      <app-navbar-button urlPath="/collections">
        <i class="fa-solid fa-puzzle-piece"></i>
        collections
      </app-navbar-button>
      <app-navbar-button urlPath="/bots">
        <i class="fa-solid fa-robot"></i>
        bots
      </app-navbar-button>
      <app-navbar-button urlPath="/blog">
        <i class="fa-solid fa-newspaper"></i>
        blog
      </app-navbar-button>
      <app-navbar-button urlPath="/posts">
        <i class="fa-solid fa-comment"></i>
        posts
      </app-navbar-button>
      <app-navbar-button urlPath="/links">
        <i class="fa-solid fa-link"></i>
        links
      </app-navbar-button>
      <app-navbar-button urlPath="/gallery">
        <i class="fa-solid fa-image"></i>
        gallery
      </app-navbar-button>
    </div>
  </div>
</section>
