<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">
      <i class="fa-solid fa-puzzle-piece"></i>
      Interests
    </app-page-title>
    <p></p>
  </div>
</div>
<div class="content-container">
  <div class="content-container-card white">
    <div class="collection-section">
      <h2>Video Games</h2>
      <p></p>
      <p>
        <a
          class="collection-link"
          routerLink="/interests/collections/video-games"
          title="Video Game Collection">
          <div class="button collection-button video-games-button">
            <i class="fa-solid fa-list-check"></i>
            Video Game Collection
          </div>
        </a>
      </p>
      <p>
        <a
          class="collection-link"
          routerLink="/interests/favourite-games"
          title="Video Game Hall of Fame">
          <div class="button collection-button video-games-button">
            <i class="fa-solid fa-trophy"></i>
            My Video Game Hall of Fame
          </div>
        </a>
      </p>
    </div>
    <div class="collection-section">
      <h2>LEGO</h2>
      <p></p>
      <p>
        <a class="collection-link" routerLink="/interests/collections/lego" title="LEGO Collection">
          <div class="button collection-button lego-button">
            <i class="fa-solid fa-list-check"></i>
            LEGO Collection
          </div>
        </a>
      </p>
    </div>
    <div class="collection-section">
      <h2>Board Games</h2>
      <p></p>
      <p>
        <a
          class="collection-link"
          routerLink="/interests/collections/board-games"
          title="Board Game Collection">
          <div class="button collection-button board-games-button">
            <i class="fa-solid fa-list-check"></i>
            Board Game Collection
          </div>
        </a>
      </p>
    </div>
    <div class="collection-section">
      <h2>Books</h2>
      <p></p>
      <p>
        <a
          class="collection-link"
          routerLink="/interests/collections/books"
          title="Book Collection">
          <div class="button collection-button books-button">
            <i class="fa-solid fa-list-check"></i>
            Book Collection
          </div>
        </a>
      </p>
    </div>
  </div>
</div>
