<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">
      <i class="fa-solid fa-gamepad"></i>
      Interests
    </app-page-title>
    <p></p>
  </div>
</div>
<div class="content-container">
  <div class="content-container-card">
    <app-feed-posters
      sectionTitle="Video Game Hall of Fame"
      [isLoading]="isVideoGameHallOfFameLoading"
      [feedItems]="favouriteGames"
      displayType="poster"
      [isError]="isVideoGameHallOfFameError"></app-feed-posters>
  </div>
</div>
<br />
