<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>

<!-- Conditionally render the modal -->

<app-modal
  [isVisible]="showHelpDialog"
  modalId="helpDialogModal"
  (closeModalEvent)="closeHelpDialog()">
  <!-- Project the help dialog component inside the modal -->
  <app-help-dialog (close)="closeHelpDialog()"></app-help-dialog>
</app-modal>
@if(!isLoading){
<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">
      <i class="fa-solid fa-robot"></i>
      {{ editorData && editorData.id ? "Editing" : "Creating" }} Reply Definition
    </app-page-title>
    <p></p>
  </div>
</div>
<div class="content-container">
  <div class="content-container-card editor-box">
    <div class="navigation-button-section">
      <button class="button pink on-white left-button-margin" (click)="cancelEdit()">
        <i class="fa-solid fa-arrow-left"></i>
        Back
      </button>
      <button
        class="button purple on-white"
        tooltip="Click here for a detailed outline of this editor"
        (click)="openHelpDialog()">
        <i class="fa-solid fa-circle-question"></i>
        Help
      </button>
      @if(!editorData || !editorData.id){
      <button
        class="add-guild-reply-definition-button button blue on-white right-button-margin"
        (click)="addFromClipboard()"
        tooltip="Paste a reply definition from your clipboard">
        <i class="fa-solid fa-paste"></i>
        Paste
      </button>
      }
    </div>
    <div class="input-section">
      <h2>Status</h2>
      <div class="toggle-switch">
        <input
          type="checkbox"
          id="statusToggle"
          class="toggle-switch-checkbox"
          [(ngModel)]="editorData.isActive" />
        <label class="toggle-switch-label" for="statusToggle">
          <span class="toggle-switch-inner"></span>
          <span class="toggle-switch-switch"></span>
          <!-- Move text inside the label -->
          <span class="toggle-switch-text">
            {{ editorData.isActive ? "ENABLED" : "DISABLED" }}
          </span>
        </label>
        <!-- Text is now inside the label -->
      </div>
      <span>(The bot will {{ editorData.isActive ? "use" : "ignore" }} this reply definition)</span>
    </div>

    <div class="input-section">
      <h2>Triggers</h2>
      @for (trigger of editorData.triggers; track trackByFn(i, trigger); let i = $index) {
      <div class="form-group">
        @if (hasForbiddenTerm(editorData.triggers[i])) {
        <span class="form-error">
          {{ forbiddenTermErrorMessage }}
        </span>
        }
        <!-- <label [for]="'trigger-' + i">Trigger Text</label> -->
        <div class="input-with-button">
          <input
            type="text"
            [id]="'trigger-' + i"
            class="input-full-width"
            placeholder="Trigger Text"
            [(ngModel)]="editorData.triggers[i]" />
          <button
            class="button red suffix-button"
            tooltip="Remove this Trigger"
            (click)="removeTrigger(i)">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
      }
      <div class="action-buttons">
        <button class="action-button button blue on-white" (click)="addTrigger()">
          <i class="fa-solid fa-plus"></i>
          Add Trigger
        </button>
      </div>
      <div class="input-section">
        <div class="checkbox-group">
          <input type="checkbox" id="requiresBotName" [(ngModel)]="editorData.requiresBotName" />
          <label for="requiresBotName">Trigger Requires Bot Name in the Message</label>
        </div>
      </div>
    </div>
    <div class="input-section">
      <h2>
        Specific Channels
        <span
          class="icon"
          tooltip="The IDs of the only channels in your server where you want this trigger to apply. If none
    are specified, this will trigger server-wide.">
          <i class="fa-solid fa-circle-info"></i>
        </span>
      </h2>
      <div class="channel-ids-description"></div>
      @for (channelId of editorData.channelIds; track trackByFn(i, channelId); let i = $index) {
      <div class="form-group">
        @if (!isValidId(editorData.channelIds[i])) {
        <span class="form-error">{{ invalidIdErrorMessage }}</span>
        }
        <!-- <label [for]="'channel-' + i">Channel ID</label> -->
        <div class="input-with-button">
          <input
            type="text"
            [id]="'channel-' + i"
            class="input-full-width"
            placeholder="Channel ID"
            [(ngModel)]="editorData.channelIds[i]" />
          <button
            class="button red suffix-button"
            tooltip="Remove this Channel ID"
            (click)="removeChannelId(i)">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
      }
      <div class="action-buttons">
        <button class="action-button button blue on-white" (click)="addChannelId()">
          <i class="fa-solid fa-plus"></i>
          Add Channel ID
        </button>
      </div>
    </div>

    <div class="input-section">
      <h2>
        Specific Users
        <span
          class="icon"
          tooltip="The IDs of the only users to whom you want this trigger to apply. If none
  are specified, this will trigger for everyone.">
          <i class="fa-solid fa-circle-info"></i>
        </span>
      </h2>
      @for (userId of editorData.userIds; track trackByFn(i, userId); let i = $index) {
      <div class="form-group">
        @if (!isValidId(editorData.userIds[i])) {
        <span class="form-error">{{ invalidIdErrorMessage }}</span>
        }
        <!-- <label [for]="'user-' + i">User ID</label> -->
        <div class="input-with-button">
          <input
            type="text"
            [id]="'user-' + i"
            class="input-full-width"
            placeholder="User ID"
            [(ngModel)]="editorData.userIds[i]" />
          <button
            class="button red suffix-button"
            tooltip="Remove this User ID"
            (click)="removeUserId(i)">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
      }
      <div class="action-buttons">
        <button class="action-button button blue on-white" (click)="addUserId()">
          <i class="fa-solid fa-plus"></i>
          Add User ID
        </button>
      </div>
    </div>
    <div class="input-section">
      <h2>Replies</h2>

      @for (reply of editorData.replies; track trackByFn(i, reply); let i = $index) {
      <div class="form-group">
        @if (hasForbiddenTerm(editorData.replies[i])) {
        <span class="form-error">
          {{ forbiddenTermErrorMessage }}
        </span>
        }
        <!-- <label [for]="'reply-' + i">Reply Text</label> -->
        <div class="input-with-button">
          <textarea
            [id]="'reply-' + i"
            class="input-full-width"
            placeholder="Reply Text"
            [(ngModel)]="editorData.replies[i]"
            [maxlength]="maxReplyLength"></textarea>
          <button
            class="button red suffix-button"
            (click)="removeReply(i)"
            tooltip="Remove this Reply">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
      }
      <div class="action-buttons">
        <button class="action-button button blue on-white" (click)="addReply()">+ Add Reply</button>
      </div>
      <div class="input-section">
        <div class="checkbox-group">
          <input type="checkbox" id="mentionAuthor" [(ngModel)]="editorData.mentionAuthor" />
          <label for="mentionAuthor">Mention Message Sender When Replying</label>
        </div>
      </div>
    </div>
    <div class="input-section">
      <h2>Reactions</h2>
      @for (reaction of editorData.reactions; track trackByFn(i, reaction); let i = $index) {
      <div class="form-group">
        @if (!isValidSingleEmoji(editorData.reactions[i])) {
        <span class="form-error">
          {{ invalidEmojiErrorMessage }}
        </span>
        }
        <label [for]="'reaction-' + i">Reaction Emoji</label>
        <div class="input-with-button">
          <input
            type="text"
            [id]="'reaction-' + i"
            class="input-full-width"
            placeholder="Reaction Emoji"
            [(ngModel)]="editorData.reactions[i]" />
          <button
            class="button red suffix-button"
            tooltip="Remove this Reaction"
            (click)="removeReaction(i)">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
      </div>
      }
      <div class="action-buttons">
        <button class="action-button button blue on-white" (click)="addReaction()">
          <i class="fa-solid fa-plus"></i>
          Add Reaction
        </button>
      </div>
    </div>

    <div class="action-buttons">
      <button class="action-button button blue on-white" (click)="cancelEdit()">Cancel</button>
      <button
        class="action-button button purple on-white"
        [disabled]="!isSaveEnabled()"
        (click)="saveEdit()">
        Save
      </button>
    </div>
  </div>
</div>
}
