<div class="page-description-container">
  <div class="page-description-content"></div>
</div>
<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>
<ng-container *ngIf="!isLoading && post">
  <div class="post">
    <div class="post-summary">
      <p>
        {{ post.content }}
      </p>
      <p *ngIf="post.images_csv">
        <img [src]="post.images_csv" [alt]="post.content" class="post-image" />
      </p>
      <app-date-display [dateToDisplay]="post.posted_at" labelText="Shared on:"></app-date-display>
    </div>
  </div>
</ng-container>
<app-social-media-discussion
  [getDiscussionsMethod]="discussionMethod"
  [showContent]="false"
  [discussionId]="post.time_stamp"></app-social-media-discussion>
<div class="back-to-posts-link">
  <a [routerLink]="['/posts']">&#x2190; Back to Posts</a>
</div>
