<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>

@if (!isLoading && post) { @if(post.url_title){
<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="2">🔗 {{ post.url_title }}</app-page-title>
  </div>
</div>
}
<div class="post">
  <div class="post-summary">
    <p>
      {{ post.content }}
    </p>
    @if (post.images_csv) {
    <p>
      <img
        [src]="post.images_csv"
        [alt]="post.image_alt_text"
        class="post-image"
        (click)="toggleModal(post, true)" />
      <app-modal
        [post]="post.modalImage"
        [isVisible]="post.isModalVisible"
        (onClose)="toggleModal(post, false)"></app-modal>
    </p>
    } @if (post.url) {
    <p>
      <a [href]="post.url" target="_blank">
        {{ post.url_title }}
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </p>
    }
    <app-date-display [dateToDisplay]="post.posted_at" labelText="Posted on:"></app-date-display>
    <div class="post-end">
      <img class="post-end-img" src="/assets/rar-face-small.png" />
    </div>
  </div>
</div>
<app-social-media-discussion
  [postType]="postType"
  [showContent]="false"
  [discussionId]="post.time_stamp"></app-social-media-discussion>
<div class="back-to-posts-link">
  <a [routerLink]="['/' + getPageForPost()]">&#x2190; Back to {{ getBackText() }}</a>
</div>
}
