@use "../../../variables.scss" as variables;

.page-section-container {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: variables.$divider-color;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.page-section-container:last-child {
  border-bottom: variables.$divider-color;
}
