<div class="page-description-container">
  <div class="page-description-content">
    <p class="page-description">
      I'm rardk64! I'm a Software Engineer. I write web applications, Discord Bots, and hopefully
      the occasional game. When I'm not writing code, I'm playing video games, reading comics, or
      reorganizing my phone's home screen.
    </p>
  </div>
</div>

<div class="home-columns-container">
  <div class="home-column">
    <div class="page-section-container">
      <app-all-posts
        pageTitle="Latest Posts By Me"
        [itemCount]="4"
        [showAllPageLinks]="true"
        [showPaginator]="false"></app-all-posts>
    </div>
  </div>

  <div class="home-column">
    <div class="page-section-container">
      <app-media-feed></app-media-feed>
    </div>

    <div class="page-section-container">
      <app-lastfm-song></app-lastfm-song>
    </div>

    <div class="page-section-container">
      <app-gallery
        pageTitle="Latest Gallery Posts"
        [itemCount]="4"
        [showPageLink]="true"></app-gallery>
    </div>
  </div>
</div>
