<div class="page-description-container">
  <div class="page-description-content">
    <h2>HAPPY BIRTHDAY BASIL</h2>
    <p class="page-description">
      Today is Basil day so that's all this website is doing today, celebrating Basil's birthday.
      She's the best and my favourite and the love of my life, so say happy birthday.
      <br />
      <br />
      Happy Birthday Basil ❤️ I love you
    </p>
    <div>
      <img
        src="/assets/basil-rar-web.png"
        alt="cute couple"
        style="max-width: 450px; border-radius: 30px" />
      <div style="font-size: 12px">
        Art by
        <a href="https://bsky.app/profile/brunofreire.bsky.social" target="_blank">Bruno Freire</a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="page-section-container">
  <app-posts
    pageTitle="Latest Posts"
    [itemCount]="3"
    [showPageLink]="true"
    [showPaginator]="false"></app-posts>
</div>

<div class="page-section-container">
  <app-media-feed></app-media-feed>
</div>

<div class="page-section-container">
  <app-blog
    pageTitle="Latest Blog Posts"
    [itemCount]="2"
    [showPageLink]="true"
    [showPaginator]="false"></app-blog>
</div>

<div class="page-section-container">
  <app-links
    pageTitle="Latest Shared Links"
    [itemCount]="2"
    [showPageLink]="true"
    [showPaginator]="false"></app-links>
</div>

<div class="page-section-container">
  <app-gallery pageTitle="Latest Gallery Posts" [itemCount]="4" [showPageLink]="true"></app-gallery>
</div>-->
