<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">Time Zone Selector for TimeZoneBot</app-page-title>
    <p>
      You can find and click on a time zone ID in the table to copy it to your clipboard and use it
      with TimeZoneBot's
      <code>/set-time-zone</code>
      command. Alternatively, if you log in with Discord below, you can find your time zone and
      click the "Set" button to set it as your time zone.
    </p>
    <app-login-actions></app-login-actions>
  </div>
</div>

<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>

@if (!isLoading) {
<div class="content-container">
  <div class="content-container-card white time-zones-container">
    <div class="filter-options">
      <div class="filter-explanation">Select a filter below to narrow down the list.</div>
      <div class="form-field filter-field filter-select-field">
        <label for="filter-select">Select a Filter</label>
        <select id="filter-select" [(ngModel)]="selectedFilter" (change)="filterTimeZones()">
          <option [value]="undefined" disabled selected>Select a Filter</option>
          @for (filter of timeZoneFilterOptions; track filter) {
          <option [value]="filter">
            {{ filter }}
          </option>
          }
        </select>
      </div>
      <div class="form-field filter-field">
        <label for="search-text">Search Text</label>
        <input
          id="search-text"
          type="text"
          [(ngModel)]="filterText"
          (input)="filterTimeZones()"
          placeholder="Ex. Toronto" />
      </div>
      @if (selectedFilter || filterText) {
      <div class="clear-filter-section">
        <button class="tertiary action button" (click)="clearFilter()">Clear Filter</button>
      </div>
      }
    </div>
    <h3>
      Your Current Time Zone: @if (!isLoggedIn()) {
      <span class="current-time-zone-highlight">Not Logged In</span>
      } @else if (isTimeZoneLoading) {
      <span>Loading...</span>
      } @else if (!isTimeZoneLoading) {
      <span class="current-time-zone-highlight">
        {{ formatCurrentTimeZone() }}
      </span>
      }
      <br />
      @if (!isTimeZoneLoading && currentTime) {
      <span class="current-time-zone-highlight">
        {{ currentTime }}
      </span>
      }
    </h3>
    <table class="set-table">
      <th>Time Zone ID (IANA)</th>
      <!-- <th></th> -->
      <th></th>
      @for (timeZone of dataSource; track timeZone) {
      <tr>
        <td>
          <app-copyable-text [textToCopy]="timeZone.id">
            {{ timeZone.id }} (UTC {{ formatUtcOffset(timeZone.utcOffsetHours) }})
          </app-copyable-text>
        </td>
        <!-- <td>
          <button
            class="icon action button"
            (click)="copyTimeZone(timeZone.id)"
            title="Copy Time Zone ID">
            <i class="fa-regular fa-copy"></i>
          </button>
        </td> -->
        <td>
          <button
            class="button magenta on-white"
            (click)="setTimeZone(timeZone.id)"
            [disabled]="!isLoggedIn()">
            Set
          </button>
        </td>
      </tr>
      }
    </table>
  </div>
</div>
}
