<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">
      <i class="fa-solid fa-puzzle-piece"></i>
      Lego Set Collection
    </app-page-title>
    <p>
      My Lego Collection, organized into which sets I want and which sets I already have (and
      whether or not I've built them yet).
    </p>
  </div>
</div>
<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>
@if (!isLoading) {
<div class="content-container">
  <div class="content-container-card white">
    <div class="description">
      <div class="button-container">
        <button class="button on-white blue" (click)="scrollToWantedSets()">
          Skip to Sets I Want
        </button>
        <button class="button on-white blue" (click)="scrollToOwnedSets()">
          Skip to Sets I Own
        </button>
      </div>
    </div>
    <section class="wanted-section" #wantedSetsSection>
      <h2>Sets I Want</h2>
      <table class="set-table">
        <th>Preview</th>
        <th>Set Name</th>
        <th>Series</th>
        @for (set of wantedSets; track set) {
        <tr>
          <td class="img-cell">
            <img
              (click)="toggleModal(set, true)"
              class="lego-set-thumbnail"
              [src]="set.previewUrl"
              alt="{{ set.name }}" />
            <app-modal
              [post]="set.modalImage"
              [isVisible]="set.isModalVisible"
              (closeModalEvent)="toggleModal(set, false)"></app-modal>
          </td>
          <td>
            <a [href]="set.url" target="_blank" title="Open on LEGO.com">{{ set.name }}</a>
          </td>
          <td>{{ set.series }}</td>
        </tr>
        }
      </table>
    </section>
    <section class="owned-section" #ownedSetsSection>
      <h2>Sets I Own</h2>
      <div class="series-filter-container form-field">
        <label for="series-filter-select">Filter by Series</label>
        <select
          id="series-filter-select"
          [(ngModel)]="seriesOptionSelected"
          (change)="applyFilters()">
          <option [value]="filterOptionNoSeries">All Series</option>
          @for (series of ownedSeriesOptions; track series) {
          <option [value]="series">{{ series }}</option>
          }
        </select>
      </div>
      <div class="filters-container">
        <div class="radio-group">
          <div class="radio-option">
            <input
              type="radio"
              id="filterAll"
              name="builtFilter"
              [value]="filterOptionAll"
              [(ngModel)]="filterOptionSelected"
              (change)="applyFilters()" />
            <label for="filterAll">All</label>
          </div>
          <div class="radio-option">
            <input
              type="radio"
              id="filterBuilt"
              name="builtFilter"
              [value]="filterOptionBuilt"
              [(ngModel)]="filterOptionSelected"
              (change)="applyFilters()" />
            <label for="filterBuilt">Only Built</label>
          </div>
          <div class="radio-option">
            <input
              type="radio"
              id="filterUnbuilt"
              name="builtFilter"
              [value]="filterOptionUnbuilt"
              [(ngModel)]="filterOptionSelected"
              (change)="applyFilters()" />
            <label for="filterUnbuilt">Only Unbuilt</label>
          </div>
        </div>
      </div>
      <table class="set-table">
        <th>Preview</th>
        <th>Set Name</th>
        <th>Series</th>
        <th>Built</th>
        @for (set of filteredOwnedSets; track set) {
        <tr>
          <td class="img-cell">
            <img
              (click)="toggleModal(set, true)"
              class="lego-set-thumbnail"
              [src]="set.previewUrl"
              alt="{{ set.name }}" />
            <app-modal
              [post]="set.modalImage"
              [isVisible]="set.isModalVisible"
              (closeModalEvent)="toggleModal(set, false)"></app-modal>
            <!-- Changed from (onClose) -->
          </td>
          <td>
            <a [href]="set.url" target="_blank" title="Open on LEGO.com">{{ set.name }}</a>
          </td>
          <td>{{ set.series }}</td>
          <td>
            <app-check-or-x [isCheck]="set.built"></app-check-or-x>
          </td>
        </tr>
        }
      </table>
    </section>
  </div>
</div>
}
