a {
  font-size: 20px;
  text-decoration: none;
}

.profile-link {
  display: inline-block;
  transition: all 0.5s ease-in-out;
}

.profile-link:hover {
  transform: rotate(360deg);
}

.profile-link:active {
  opacity: 0;
  transition: 0.1s linear;
  transform: scale(3) rotate(10deg);
}
