<div class="page-container">
  <header class="page-header">
    <div class="avatar-container shrinkable">
      <a routerLink="/"><img class="avatar" src="/assets/basil-avatar.jpg" /></a>
    </div>
    <div class="bio">
      <h1 class="name">Basil</h1>
      <p class="nav-icons">
        <a href="https://sliceofplant.com" target="_blank" rel="me">
          <i class="fa-solid fa-leaf social-icon github" style="color:green"></i>
        </a>
 
      </p>
      <p class="below-avatar">
        <span class="below-avatar-text">🐳 Watching Whales</span>
        <span class="divider">|</span>
        <span class="below-avatar-text">🎮 Playing Games With Me</span>
        <span class="divider">|</span>
        <span class="below-avatar-text">❤️ Being Cute</span>
      </p>
    </div>
  </header>

  <!-- <app-navbar></app-navbar> -->
  <div class="body-container">
    <router-outlet></router-outlet>
  </div>
</div>
