@use "../variables.scss" as variables;

.body-container {
  font-size: 18px;
}

/* header */
.avatar {
  border-radius: 47%;
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  transition: border-radius 0.5s;
}
.avatar:hover {
  border-radius: 8%;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between; // Spread left and right
  color: variables.$font-color;
  width: 100%;
  max-width: variables.$max-width;
  margin: 0 auto;
  margin-top: 12px;
}

.name {
  letter-spacing: 0.12rem;
  margin-bottom: 7px;
  font-size: 28px;
}

// @media screen and (min-width: 0px) and (max-width: 767px) {
//   .name {
//     font-size: 24px;
//   }
//   .avatar {
//     height: 80px;
//   }
//   .below-avatar {
//     display: none;
//   }
// }

.bio {
  font-size: 18px;
  text-align: left;
  letter-spacing: 0.12rem;
  font-weight: 500;
  text-transform: lowercase;
  font-variant: small-caps;
  display: flex;
  align-items: center; /* Vertically aligns the avatar and h1 */
}

.below-avatar-text {
  color: #ffffff;
}

.below-avatar {
  margin-bottom: 7px;
  margin-top: 10px;
}

.divider {
  padding-left: 5px;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-block-end: 10px;
  margin-block-start: 10px;
  flex: 1;
}

.nav-icon {
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
}

.social-icon {
  font-size: 25px;
  transform-origin: center;
  align-items: center;
  justify-content: center;

  transition: all 0.5s ease-in-out;
}

.social-icon:hover {
  transform: rotate(360deg);
}

.social-icon:active {
  opacity: 0;
  transition: 0.1s linear;
  transform: scale(3) rotate(10deg);
}

.github,
.fa-github {
  fill: #ffffff;
  color: #ffffff;
}

.twitch,
.fa-twitch {
  fill: #9146ff;
  color: #9146ff;
}

.mastodon,
.fa-mastodon {
  fill: #6364ff;
  color: #6364ff;
}

.bluesky,
.fa-bluesky {
  fill: #0285ff;
  color: #0285ff;
}

.discord,
.fa-discord {
  fill: #5865f2;
  color: #5865f2;
}

.rss,
.fa-rss {
  fill: #ffa500;
  color: #ffa500;
}

.avatar-container {
  margin-right: 15px; /* Adds some space between the avatar and the name */
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .page-header {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .bio {
    justify-content: center;
    margin-bottom: 0;
  }

  .nav-icons {
    justify-content: center;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}
