<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">Video Game Collection</app-page-title>
    <p>Select a platform below to view the games I have for that platform.</p>
  </div>
</div>
<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>
@if (!isLoading) {
  <div class="content-container">
    <div class="content-container-card">
      <div class="search-container">Title Search</div>
      <div class="search-container">
        <input type="text" placeholder="Enter a game title" [(ngModel)]="searchTerm" />
      </div>
      <div class="platform-select-container">Platform</div>
      <div class="platform-select-container">
        <select [(ngModel)]="selectedPlatform">
          @for (platform of availablePlatforms; track platform) {
            <option [value]="platform.name">
              {{ platform.name }} ({{ platform.gameCount }} games)
            </option>
          }
        </select>
      </div>
      @for (
        platformGrouping of gameCollectionItemsGrouped | keyvalue; track
        platformGrouping; let platformIndex = $index) {
        <section
          class="games-collection-section"
          >
          @if (platformGrouping.key === selectedPlatform) {
            <table class="game-table">
              <th>Game</th>
              @for (gameCollectionItem of filterGames(platformGrouping.value); track gameCollectionItem) {
                <tr>
                  <td>
                    {{ gameCollectionItem.title }}
                  </td>
                </tr>
              }
            </table>
          }
        </section>
      }
    </div>
  </div>
}
