.game-table {
  border-collapse: collapse;
  width: 100%;
}

.game-table td,
.game-table th {
  border: 1px solid #dddddd;
  padding: 8px;
}

.game-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.game-table tr:hover {
  background-color: #dddddd;
}

.game-table th {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  background-color: #000000;
  color: white;
}

.platform-select-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-container input[type="text"] {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 16px;
}
