@if (isVisible) {
<div class="modal" [id]="modalId" (click)="close($event)">
  <div class="modal-content">
    <div class="modal-header">
      <!-- Display title: Use post.title if available, otherwise use modalTitle -->
      @if(post?.title) {
      <h2>{{ post?.title ?? "" }}</h2>
      }
      <span class="close" (click)="close($event)"><i class="fa-solid fa-x closing-x"></i></span>
    </div>

    <!-- Conditional Content Area -->
    @if (post && post.images && post.images.length > 0) {
    <!-- Image Gallery Content -->
    <div class="modal-body image-modal-body">
      <div class="image-container">
        <app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>
        @if(!isLoading){
        <img
          class="gallery-image"
          [src]="post.images[imageIndex].url"
          [alt]="post.images[imageIndex].description" />
        } @if (isDirectionEnabled(imageIndex - 1)) {
        <button
          class="arrow-button left"
          (click)="$event.stopPropagation(); changeImage(imageIndex - 1)">
          <i class="fa-solid fa-arrow-left"></i>
        </button>
        } @if (isDirectionEnabled(imageIndex + 1)) {
        <button
          class="arrow-button right"
          (click)="$event.stopPropagation(); changeImage(imageIndex + 1)">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
        } @if (post.images.length > 1) {
        <div class="image-position-indicators">
          @for (circle of post.images; track circle; let circleIndex = $index) {
          <svg height="30" width="30" (click)="$event.stopPropagation(); changeImage(circleIndex)">
            <circle
              [attr.class]="
                circleIndex === imageIndex
                  ? 'image-position-circle current'
                  : 'image-position-circle'
              "
              cx="15"
              cy="15"
              r="4" />
          </svg>
          }
        </div>
        }
      </div>
      @if(post.content) {
      <div class="image-description" [innerHTML]="post.content"></div>
      }
    </div>
    <div class="modal-footer image-modal-footer">
      @if(post.date) {
      <app-date-display
        [routerLink]="postUrl ? [postUrl] : undefined"
        [dateToDisplay]="post.date"></app-date-display>
      } @if(post.url && post.sourceSiteName) {
      <a target="_blank" [href]="post.url" (click)="$event.stopPropagation()">
        View on {{ post.sourceSiteName }}
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
      }
    </div>
    } @else {
    <!-- Generic Content Projection -->
    <div class="modal-body generic-modal-body">
      <ng-content></ng-content>
    </div>
    <!-- Optional generic footer -->
    <div class="modal-footer generic-modal-footer">
      <ng-content select="[modal-footer]"></ng-content>
    </div>
    }
  </div>
</div>
}
