<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">
      <i class="fa-solid fa-calendar-days"></i>
      Now
    </app-page-title>
    <p></p>
  </div>
</div>
<div class="section-icons">
  <span (click)="scrollToSection('projects')" tooltip="Scroll to Projects">
    <i class="section-icon fa-solid fa-code code"></i>
  </span>
  <span (click)="scrollToSection('games')" tooltip="Scroll to Games">
    <i class="section-icon fa-solid fa-gamepad games"></i>
  </span>
  <span (click)="scrollToSection('movies')" tooltip="Scroll to Movies">
    <i class="section-icon fa-solid fa-film movies"></i>
  </span>
  <span (click)="scrollToSection('tv')" tooltip="Scroll to TV">
    <i class="section-icon fa-solid fa-tv tv"></i>
  </span>
  <span (click)="scrollToSection('books')" tooltip="Scroll to Books">
    <i class="section-icon fa-solid fa-book books"></i>
  </span>
  <span (click)="scrollToSection('music')" tooltip="Scroll to Music">
    <i class="section-icon fa-solid fa-music music"></i>
  </span>
</div>
<div class="content-container" #projectsCard>
  <div class="content-container-card white">
    <app-github-card></app-github-card>
  </div>
</div>
<br />
<div class="content-container" #gamesCard>
  <div class="content-container-card white">
    <app-backloggd-card></app-backloggd-card>
  </div>
</div>
<br />
<div class="content-container" #moviesCard>
  <div class="content-container-card white">
    <app-letterboxd-card></app-letterboxd-card>
  </div>
</div>
<br />
<div class="content-container" #tvCard>
  <div class="content-container-card white">
    <app-tv-shows-card></app-tv-shows-card>
  </div>
</div>
<br />
<div class="content-container" #booksCard>
  <div class="content-container-card white">
    <app-goodreads-card></app-goodreads-card>
  </div>
</div>
<br />
<div class="content-container" #musicCard>
  <div class="content-container-card white">
    <app-lastfm-card></app-lastfm-card>
  </div>
</div>
