<h2 class="feed-section-title">
  {{ sectionTitle }}
  <app-profile-link
    *ngIf="profileUrl && profileName"
    [url]="profileUrl!"
    [name]="profileName!"></app-profile-link>
</h2>
<app-loading-indicator [isLoading]="isLoading && !isError"></app-loading-indicator>
<ng-container *ngIf="!isLoading && !isError">
  <ng-container *ngIf="feedItems && feedItems.length > 0; else no_content">
    <div class="feed-item-posters-wrapper" *ngIf="isPoster">
      <div class="feed-item-poster" *ngFor="let feedItem of feedItems">
        @if(feedItem.url) {
        <a [href]="feedItem.url" target="_blank" [title]="feedItem.title">
          <img
            *ngIf="feedItem.imageUrl"
            [tooltip]="feedItem.title"
            class="feed-item-poster-img"
            [src]="feedItem.imageUrl" />
          <div class="feed-item-poster-img no-img" *ngIf="!feedItem.imageUrl">
            <div class="no-poster-thumbnail"><i class="fa-solid fa-music"></i></div>
            {{ feedItem.title }}
          </div>
        </a>
        } @else{
        <span [title]="feedItem.title">
          <img
            *ngIf="feedItem.imageUrl"
            [tooltip]="feedItem.title"
            class="feed-item-poster-img"
            [src]="feedItem.imageUrl" />
          <div class="feed-item-poster-img no-img" *ngIf="!feedItem.imageUrl">
            <div class="no-poster-thumbnail"><i class="fa-solid fa-music"></i></div>
            {{ feedItem.title }}
          </div>
        </span>
        }
        <div *ngIf="showRatings">
          <a class="feed-item-rating" [href]="feedItem.url" target="_blank">
            @if(feedItem.rating) {
            {{ formatRating(feedItem.rating) }} / {{ ratingMax }}
            } @else{
            <span>(no rating)</span>
            }
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="isList">
      <ul class="feed-list-item-name">
        <li class="feed-list-item" *ngFor="let feedItem of feedItems">
          @if(feedItem.url) {
          <a [href]="feedItem.url" target="_blank">{{ feedItem.title }}</a>
          } @else{
          <span class="feed-item-list-item-title">{{ feedItem.title }}</span>
          }
          {{ feedItem.summary ? " - " + feedItem.summary : "" }}
          @if(showRatings){ @if(showRatings && feedItem.rating) {
          <span>- {{ formatRating(feedItem.rating) }} / {{ ratingMax }}</span>
          } @else{
          <span>(no rating)</span>
          } }
        </li>
      </ul>
    </div>
  </ng-container>
  <ng-template #no_content>
    <div class="no-content-text-container">
      <div class="no-content-text">None</div>
    </div>
  </ng-template>
</ng-container>
<ng-container *ngIf="isError">
  <div class="error-wrapper">
    <div class="error-text">There was an error loading this data. Please try again later.</div>
  </div>
</ng-container>
