<app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>
@if (!isLoading) {
<div class="content-container">
  <div class="blog-post-container">
    @if (post) {
    <h1 class="card-title">{{ post.post_title }}</h1>
    <app-date-display [dateToDisplay]="post.posted_at"></app-date-display>
    <p class="blog-post-content" markdown [data]="post.content"></p>
    <div class="post-end">
      <img class="post-end-img" src="/assets/rar-face.png" />
    </div>
    }
  </div>
</div>
}
<app-social-media-discussion
  [getDiscussionsMethod]="discussionMethod"></app-social-media-discussion>
<div class="back-to-blog-link">
  <a [routerLink]="['/blog']">&#x2190; Back to Blog</a>
</div>
