<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">RSS Feeds</app-page-title>
    <p>These are the links to my RSS feeds.</p>
  </div>
</div>
<div class="content-container">
  <div class="content-container-card white">
    <div class="feed-section">
      <h2>Posts</h2>
      <p>
        The RSS feed for my
        <a [routerLink]="['/posts']">posts</a>
      </p>
      <p>
        <a target="_blank" href="https://rardk64.com/rss/posts" title="Posts RSS Feed">
          <div class="feed-button button orange on-white">Go to the Posts RSS Feed</div>
        </a>
      </p>
    </div>
    <div class="feed-section">
      <h2>Blog</h2>
      <p>
        The RSS feed for my
        <a [routerLink]="['/blog']">Blog</a>
        Posts
      </p>
      <p>
        <a target="_blank" href="https://rardk64.com/rss/blog" title="Blog RSS Feed">
          <div class="feed-button button pink on-white">Go to the Blog RSS Feed</div>
        </a>
      </p>
    </div>
    <div class="feed-section">
      <h2>Links</h2>
      <p>
        The RSS feed for my
        <a [routerLink]="['/links']">shared links</a>
      </p>
      <p>
        <a target="_blank" href="https://rardk64.com/rss/links" title="Shared Links RSS Feed">
          <div class="feed-button button caribbean-green on-white">Go to the Links RSS Feed</div>
        </a>
      </p>
    </div>
  </div>
</div>
