<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">
      <i class="fa-solid fa-image"></i>
      Gallery
    </app-page-title>
    <p></p>
  </div>
</div>

<div>
  <div class="grid">
    <div *ngFor="let post of pixelfedPosts">
      <p>
        <a [href]="post.url" target="_blank">
          <img
            [src]="post.media_attachments[0].url"
            alt="{{ post.media_attachments[0].description }}" />
        </a>
      </p>
      <p>
        <span [innerHTML]="post.content">{{ post.content }}</span>
      </p>
    </div>
  </div>
</div>
