<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">
      <i class="fa-solid fa-image"></i>
      Gallery
    </app-page-title>
    <p></p>
  </div>
</div>
<app-loading-indicator *ngIf="isLoading"></app-loading-indicator>
<div *ngIf="!isLoading">
  <div class="grid">
    <div class="grid-square" *ngFor="let post of pixelfedPosts; let i = index">
      <div (click)="toggleModal(i, true)">
        <img
          class="gallery-thumbnail"
          [src]="post.media_attachments[0].url"
          alt="{{ post.media_attachments[0].description }}" />
      </div>
      <app-modal [isVisible]="modalVisibilities[i]" (onClose)="toggleModal(i, false)">
        <div class="image-container">
          <img
            class="gallery-image"
            [src]="post.media_attachments[0].url"
            alt="{{ post.media_attachments[0].description }}" />
        </div>
        <div class="image-description" [innerHTML]="post.content">{{ post.content }}</div>
        <div class="image-footer">
          <a target="_blank" [href]="post.url">
            View on PixelFed
            <i class="fa-solid fa-arrow-up-right-from-square"></i>
          </a>
        </div>
      </app-modal>
    </div>
  </div>
</div>
