<div class="page-description-container">
  <div class="page-description-content">
    <app-page-title [titleSize]="1">Discord Servers for Toby the Replybot</app-page-title>
  </div>
</div>
<div class="guild-list-container">
  <app-loading-indicator [isLoading]="isLoading"></app-loading-indicator>
  @if (!isLoading) {
    <div class="guild-items">
      @if (isLoggedIn()) {
        @for (guild of discordGuilds; track guild) {
          <a
            class="guild-item-link"
        [href]="'/bots/replybot/reply-definitions?guildId=' + guild.id">
        <div class="guild-item">
          <img class="icon-img" [src]="guild.iconUrl" [alt]="guild.name" />
          <span class="guild-name">{{ guild.name }}</span>
        </div>
      </a>
}
    
}
  </div>
}
</div>
