$card-horizontal-padding: 38px;
$card-vertical-padding: 15px;

$font-color: #ffffff;
$opposite-font-color: #000000;

$accent-color: #f28834;

$link-color: #0285ff;

$max-width: 750px;
$min-width: 370px;

$box-shadow: 3px 3px #000000;
$button-box-shadow: 2px 2px #000000;

$divider-color: 4px dotted #525151;
$small-divider-color: 2px dotted #333333;

//@forward "variables";
