$card-horizontal-padding: 38px;
$card-vertical-padding: 15px;

$font-color: #ffffff;
$opposite-font-color: #000000;

$accent-color: #f28834;

$link-color: #0285ff;

$button-blue: #526ff1;
$button-purple: #824b9e;
$button-green: #0b9b0b;
$button-login-green: #23ae43;
$button-pink: #f0137a;
$button-red: #f44336;
$button-orange: #ff9800;
$button-caribbean-green: #00cc99;
$button-jade: #00b2d6;
$button-brown: #8a510f;

$button-magenta: #8925c4;
$button-magenta-hover: #7b1fa2;
$button-magenta-active: #9a1b9a;

$button-hot-pink: #ff4081;
$button-hot-pink-hover: #f53677;

$button-dark-purple: #824b9e;
$button-dark-purple-hover: #784194;

$button-light-blue: #00b2d6;
$button-light-blue-hover: #00a3c4;

$max-width: 750px;
$min-width: 370px;

$box-shadow: 3px 3px #000000;
$button-box-shadow: 2px 2px #000000;

$divider-color: 4px dotted #525151;
$small-divider-color: 2px dotted #333333;
