$card-horizontal-padding: 38px;
$card-vertical-padding: 15px;

$font-color: #ffffff;
$opposite-font-color: #000000;

$accent-color: #f28834;

$link-color: #0285ff;

$max-width: 750px;
$min-width: 370px;
